.wrapper{
    display: grid;
    grid-template-rows: 10;
    grid-template-columns: 6;
    row-gap:5px;
    column-gap:5px;
    height:300vh;
    width:100vw;
}
.project-label{
    grid-row: 1;
    grid-column: 2 / span 4;
}
.minimum-label{
    grid-row: 2;
    grid-column: 2 / span 4;
}
.minimum-queued-label{
    grid-row: 3;
    grid-column: 2;
}
.minimum-queued-container{
    grid-row: 4;
    grid-column: 2;
}
.minimum-develop-label{
    grid-row: 3;
    grid-column: 3;
}
.minimum-develop-container{
    grid-row: 4;
    grid-column: 3;
}
.minimum-review-label{
    grid-row: 3;
    grid-column: 4;
}
.minimum-review-container{
    grid-row: 4;
    grid-column: 4;
}
.minimum-completed-label{
    grid-row: 3;
    grid-column: 5;
}
.minimum-completed-container{
    grid-row: 4;
    grid-column: 5;
}

.core-label{}
.core-queued-label{}
.core-queued-container{}
.core-develop-label{}
.core-develop-container{}
.core-review-label{}
.core-review-container{}
.core-completed-label{}
.core-completed-container{}

.wishlist-label{}
.wishlist-queued-label{}
.wishlist-queued-container{}
.wishlist-develop-label{}
.wishlist-develop-container{}
.wishlist-review-label{}
.wishlist-review-container{}
.wishlist-completed-label{}
.wishlist-completed-container{}
