/*Static Properties*/

body{
  background-image: url("images/background.png");
  
}

form{
  padding-left: 5px;
  padding-bottom: 5px;
}

.wrapper{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20% auto 10%;
}

.header{
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  background-color: black;
  color: white;
  text-align: center;
}

.footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  background-color: black;
  color: white;
  text-align: center;
}

.formlabels{
  font-size: 200%;
  color: black;
  text-align: center;
}

.projectimages{
  filter: sepia(1);
}

/*Dynamic Properties*/

@media only screen and (max-width: 600px) {

  .header{
    grid-row:1;
    grid-column: span 12;
  }

  .ui{
    grid-row:2;
    grid-column: span 12;
  }

  .content{
    grid-row:3;
    grid-column: span 12;
  }

  .footer{
    grid-row:4;
    grid-column: span 12;
    
  }

  .radiobuttonblabels{
    font-size: 200%;
  }
}

@media only screen and (min-width: 600px) {

  .header{
    grid-row:1;
    grid-column: span 12;
  }

  .ui{
    grid-row:2;
    grid-column: span 3;
  }

  .content{
    grid-row:2;
    grid-column: span 9;
  }

  .aside{
    grid-row:3;
    grid-column: span 12;
  }

  .footer{
    grid-row:4;
    grid-column: span 12;
  }

  .radiobuttonblabels{
    font-size: 150%;
  }

}  

@media only screen and (min-width: 920px) {

  .header{
    grid-row:1;
    grid-column: span 12;
  }


  .ui{
    grid-row:2;
    grid-column: span 3;
  }

  .content{
    grid-row:2;
    grid-column: span 7;
  }

  .aside{
    grid-row:2;
    grid-column: span 2;
  }


  .footer{
    grid-row:3;
    grid-column: span 12;
  }

  .radiobuttonblabels{
    font-size: 100%;
  }

}