.projects{
    display: grid;
}

.busybees-div{
    order:1;
}

.journaltojson-div{
    order:1;
}

.fiveminutefantasy-div{
    order:1;
}

.kanbanscriptorium-div{
    order:1;
}

.portfoliowebpage-div{
    order:1;
}