/*Static Media Screen Properties*/

body{
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 5%;
}

form{
  padding-left: 5px;
  padding-bottom: 5px;
}

.aside{
  color:rgb(187, 187, 204);
  text-align: center;
}

.content{
  color:rgb(187, 187, 204);
}

.center{
  text-align: center;
}

.left{
  text-align: justify;
}

.justify{
  text-align: justify;
}

.glow-text { 
  text-shadow: 0 0 10px #6d87a8; 
  text-shadow: 0 0 15px #c1c9d3; 
}

.glow-image { 
  box-shadow: 0 0 10px #6d87a8; 
  box-shadow: 0 0 15px #c1c9d3; 
}

.wrapper{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.header{
  color:rgb(187, 187, 204);
}

.content hr{
  border: 1px solid gray
}

.ui hr{
  border: 1px solid gray
}

.footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  text-align: center;
}

.footer ul {
  list-style: none;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.footer a {
  text-decoration: none;
  color:rgb(187, 187, 204);
  display: block;
  transition: .3s background-color;
}

.footer a:hover {
  background-color: rgb(35, 73, 104);
}
 /*
.footer a:active {
  background-color:rgb(187, 187, 204);
  color: rgb(0, 0, 0);
  cursor: default;
}
*/
.projectimages{
  filter: sepia(1);
}

.projectlabels{
  font-size: 100%;
  color: gray;
  text-align: center;
}

/*Dynamic Media Screen Properties*/

@media only screen and (max-width: 600px) {
  
  .header{
    grid-row:1;
    grid-column: span 12;
  }

  .ui{
    grid-row:2;
    grid-column: span 12;
  }

  .content{
    grid-row:3;
    grid-column: span 12;
  }

  .aside{
    grid-row:4;
    grid-column: span 12;
  }

  .footer{
    grid-row:5;
    grid-column: span 12;
    
  }

  .radiobuttonblabels{
    font-size: 200%;
  }
}

@media only screen and (min-width: 600px) {

  .header{
    grid-row:1;
    grid-column: span 12;
  }

  .ui{
    grid-row:2;
    grid-column: span 3;
  }

  .content{
    grid-row:2;
    grid-column: span 9;
  }

  .aside{
    grid-row:3;
    grid-column: span 12;
  }

  .footer{
    grid-row:4;
    grid-column: span 12;
  }

  .radiobuttonblabels{
    font-size: 150%;
  }

}  

@media only screen and (min-width: 920px) {

  .header{
    grid-row:1;
    grid-column: span 12;
  }

  .ui{
    grid-row:2;
    grid-column: span 3;
  }

  .content{
    grid-row:2;
    grid-column: span 6;
  }

  .aside{
    grid-row:2;
    grid-column: span 3;
  }


  .footer{
    grid-row:3;
    grid-column: span 12;
  }

  .footer li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .radiobuttonblabels{
    font-size: 100%;
  }

}