body{
    padding:10px;
 }
 embed{
    background-color: white;
    overflow:auto;
    min-width: 100%;
    min-height: 100vh;
    padding-left: 10px;
 }
 h1{
    color: hsl(0, 10%, 0%)
 }
 h2{
    color: hsl(0, 10%, 10%)
 }
 h3{
    color: hsl(0, 10%, 20%)
 }
 h4{
    color: hsl(0, 10%, 30%)
 }
 
 ol {
    counter-reset: item
 }
 li {
    display: block
 }
 ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item
 }

 ul li{
    list-style-type: circle;
 }
 
 table, th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
 }
 th{
    background-color:lightgray;
 }