*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}
#canvas{
  min-width:100%;
  height:auto;
}
.container-grid {
  display: grid;
  grid-template-rows:3;
  grid-template-columns:1;
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.text{
  color: hsl(0, 0%, 0%);
  font-size : 20px;
  outline: none;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.button {
  background-color: hsl(255, 3%, 75%);
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 5px;
  padding: 5px 10px;
  color: hsl(0, 0%, 0%);
  font-size : 15px;
  outline: none;
  box-shadow: 0 5px hsl(0, 2%, 55%);
}

.button:hover{
  background-color: hsl(255, 15%, 85%);
  box-shadow: 0 5px hsl(0, 2%, 55%);
}

.button:active {
  background-color: hsl(255, 15%, 85%);
  box-shadow: 0 1px hsl(0, 2%, 25%);
  transform: translateY(4px);
}